body {
    background: #2e1e1e;
    color: #bee729;
}

h1 {
    font-size: 50px;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}